
<div class="row row-gap-3 row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 mt-8">
  <div *ngFor="let event of events" class="card h-">
    <div class="text-center relative flex flex-col rounded-xl bg-dark bg-clip-border text-white shadow-md h-full">
      <div class="relative mx-4 -mt-6 h-40 sm:h-32 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40">
        <img [src]="event.immagine" alt="immagine evento" class="object-cover w-full h-full">
      </div>
      <div class="p-6">
        <h5 class="mb-2 text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
          {{event.nome}}
        </h5>
        <p class="mb-2 text-base font-light leading-relaxed text-inherit antialiased">
          {{event.luogo}}
        </p>
        <p class="mb-2 text-base font-light leading-relaxed text-inherit antialiased">
          {{event.descrizione}}
        </p>
        <p class="text-base font-light leading-relaxed text-inherit antialiased">
          {{event.dataEvento}}
        </p>
      </div>
      <div class="p-6 pt-0">
        <div class="flex justify-center">
          <button (click)="navigateToDetails(event)" class="select-none rounded-lg bg-gray-500 py-3 px-6 text-center align-middle text-xs font-bold uppercase text-white shadow-md shadow-white/40 ">
            Dettagli
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

