<div class="container">
<div class="row">
  <div *ngFor="let ticket of tickets" class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
    <div class="card" style="width: 100%;">
      <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/QR_URL_itmwiki_Main_Page.svg/1024px-QR_URL_itmwiki_Main_Page.svg.png" alt="Card image cap">
      <div class="card-body">
        
        <p class="card-text">Codice: {{ ticket.code }}</p>
        <p class="card-text">ID Evento: {{ ticket.eventId }}</p>
        <p class="card-text">ID Utente: {{ ticket.userId }}</p>
        <p class="card-text">ID Area di Seduta: {{ ticket.seatingAreaId }}</p>
      </div>
    </div>
  </div>
</div>
</div>
