<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-md-6">
      <input type="text" name="searchName" placeholder="Filtra per nome" [(ngModel)]="nomeEvento" class="form-control">
    </div>
    <div class="col-md-6">
      <div class="btn-group">
        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="false"
          aria-expanded=dropdownOpen (click)="togglemenu()">
          {{dropdownItem || 'Seleziona città'}}
        </button>
        <div class="dropdown-menu" [ngClass]="{'show': dropdownOpen}">
          <a class="dropdown-item" *ngFor="let luogo of luogo" (click)="moveToHeader(luogo)">{{luogo}}</a>
        </div>
        <button type="button" class="btn btn-primary" data-mdb-ripple-init (click)="filterByNameOrCity()">
          <i class="fas fa-search"></i> Filtra
        </button>
      </div>
    </div>
  </div>
  <app-card [events]="events"></app-card>


</div>
