<div class="content">


  <div class="container-fluid">

    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
      </div>
    </div>
    <!-- end page title -->

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-5">
                <!-- Product image -->
                <a href="javascript: void(0);" class="text-center d-block mb-4">
                  <img [src]="event.immagine" class="img-fluid" style="max-width:100%; max-height:300px"
                    alt="Product-img">
                </a>

              </div> <!-- end col -->
              <div class="col-lg-7">
                <form class="ps-lg-4">
                  <!-- Product title -->
                  <h3 class="mt-0">{{event.nome}}<a href="javascript: void(0);" class="text-muted"><i
                        class="mdi mdi-square-edit-outline ms-2"></i></a> </h3>
                  <p class="mb-1">{{event.dataEvento}}</p>
                  <p class="font-16">
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                  </p>
                  <div *ngIf="!cart">
                    <!-- Product stock -->
                    <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="false" aria-expanded=dropdownOpen (click)="togglemenu()">
                      {{dropdownItem || 'Seleziona Tipo Ticket'}}
                    </button>
                    <div class="dropdown-menu" [ngClass]="{'show': dropdownOpen}">
                      <a class="dropdown-item" *ngFor="let seatingAreaOption of seatingAreaOptions"
                        (click)="onSeatSelected(seatingAreaOption.id)"
                        (click)="moveToHeader(seatingAreaOption.name)">{{seatingAreaOption.name}}</a>
                    </div>

                    <!-- Product description -->
                    <div class="mt-4">
                      <h6 class="font-14">Prezzo:</h6>
                      <h3 *ngIf="seatingAreaDetails">{{seatingAreaDetails.price+ " euro"}}</h3>
                      <h3 *ngIf="!seatingAreaDetails">-</h3>
                    </div>

                    <!-- Quantity -->
                    <div class="mt-4">
                      <h6 class="font-14">Quantity</h6>
                      <div class="d-flex">
                        <input type="number" min="1" [(ngModel)]="numTickets" class="form-control" name="numerotickets" placeholder="1"
                          style="width: 90px;">
                        <button type="button" (click)="cartObj()" [ngClass]=" seatingAreaDetails ? ' ' :  'disabled' "
                          class="btn btn-danger ms-2"><i class="mdi mdi-cart me-1"></i>Acquista</button>
                      </div>

                    </div>

                    <!-- Product description -->
                    <div class="mt-4">
                      <h6 class="font-14">Descrizione:</h6>

                      <p>{{event.descrizione}}</p>
                    </div>
                  </div>
                <!--card a scomparsa-->
                <div class="row mt-4" *ngIf="cart">
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="card-body">
                        <!-- Titolo della card a scomparsa -->
                        <h4>Dettagli Carrello</h4>
                        <!-- Dettagli aggiuntivi del carrello -->



                        <p><strong>Tipo biglietto:</strong> {{seatingAreaDetails.name}}</p>
                        <p><strong>N° Biglietti:</strong> {{cart.ticketsNumber}}</p>
                        <p><strong>Prezzo totale:</strong> {{(seatingAreaDetails.price*(cart.ticketsNumber)) + " euro"}}</p>

                        <button class="btn btn-danger ms-2" (click)="createTicket()">Procedi all'aquisto</button>
                      </div>
                    </div>
                  </div>
                </div>

                  <!-- Product information -->
                  <div class="mt-4">
                    <div class="row">
                      <div class="col-md-2">
                        <h6 class="font-14">Termine acquisti</h6>
                        <p class="text-sm lh-150">{{event.dataFineAcquisti}}</p>
                      </div>
                      <div class="col-md-2">
                        <h6 class="font-14">Luogo</h6>
                        <p class="text-sm lh-150">{{event.luogo}}</p>
                      </div>
                      <div class="col-md-2">
                        <h6 class="font-14">Evento</h6>
                        <p class="text-sm lh-150">{{event.tipoEvento}}</p>
                      </div>
                      <div class="col-md-2">
                        <h6 class="font-14">Posti Totali</h6>
                        <p class="text-sm lh-150" *ngIf="seatingAreaDetails">{{seatingAreaDetails.totSeats}}</p>
                        <p class="text-sm lh-150" *ngIf="!seatingAreaDetails">-</p>
                      </div>
                      <div class="col-md-2">
                        <h6 class="font-14">Posti Disponibili</h6>
                        <p class="text-sm lh-150 " *ngIf="seatingAreaDetails">{{seatingAreaDetails.availableSeats}}</p>
                        <p class="text-sm lh-150 " *ngIf="!seatingAreaDetails">-</p>
                      </div>
                    </div>
                  </div>

                </form>
              </div> <!-- end col -->
            </div> <!-- end row-->


          </div> <!-- end card-body-->
        </div> <!-- end card-->
      </div> <!-- end col-->
    </div>
    <!-- end row-->

  </div> <!-- container -->

</div>
